@import "../utilities/variables.scss";
@import "../utilities/typography.scss";

html {
    width: 100%;
    height: 100%;
  }

  body {
    color: #000;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    background-color: #fff;
    font-family: $base-font;
    outline: .35rem solid #000;
    outline-offset: -.7rem;
    @include breakpoint(md) {
      outline: .75rem solid #000;
      outline-offset: -2rem;
    }
  }
.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  @include breakpoint(0, md) {
    padding: 2rem
  }
}