$base-font: 'IBM Plex Sans', sans-serif;
$light: 300;
$medium: 500;
$bold: 700;

h1 {
    font-size: 2.5rem;
    font-weight: $bold;
    margin-bottom: .25rem;
    @include breakpoint(md) {
        font-size: 3.25rem;
    }
}
h3 {
    font-size: 1.3rem;
    font-weight: $medium;
}
p {
    font-size: 1.1rem;
    font-weight: $light;
    @include breakpoint(md) {
        font-size: 1.2rem;
    }
}